*.suo
*.user
_ReSharper.*
bin
obj
packages

# Visual Studio temp something
.vs/

# Rider temp something
.idea/

.leu
*.pubxml
appsettings.machine.json
*.log
jre*
*.class
*maven*
/LumeWebApp/Properties/ServiceDependencies/LumeProd - Web Deploy/profile.arm.json
/LumeWebApp/Properties/ServiceDependencies/LumeWebApp - Web Deploy/profile.arm.json
/LumeWebApp/Properties/ServiceDependencies/LumeProd_-_Web_Deploy/profile.arm.json
/LumeWebApp/Properties/ServiceDependencies/LumeWebApp_-_Web_Deploy/profile.arm.json
