<h2>Пользовательское соглашение Приложения Lume</h2>
<p>Настоящее Соглашение определяет условия использования Пользователями мобильного Приложения Lume.</p>
<h3><p><strong>1.Общие условия</strong></p></h3>
<p>Настоящее Соглашение является публичной офертой. Администрация Приложения вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения в приложении. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Приложению&nbsp;Lume&nbsp;и прекратить его использование. Актуальное соглашение можно увидеть в разделе &laquo;Настройки&raquo; в Профиле пользователя, а также при авторизации в Приложении.</p>
<h3><p><strong>2. Обязательства Пользователя</strong></p></h3>
<p>Для того, чтобы создавать аккаунт Вам должно быть более 14 лет. Создавая аккаунт и используя Приложение, вы гарантируете что:</p>
<ul>
    <li>обязуетесь соблюдать настоящее Соглашение</li>
    <li>обязуетесь не совершать противозаконные действия</li>
    <li>обязуетесь не размещать фотографии и тексты, противоречащие общепринятым нормам морали и нравственности</li>
    <li>обязуетесь, что в Вашем профиле указан настоящий возраст</li>
    <li>обязуетесь, что фотография в Вашем профиле является настоящей и на неё присутствуете именно Вы.</li>
</ul>
<p>Пользователь предупрежден, что администрация приложения&nbsp;Lume&nbsp;не несет ответственности за события, фотографии, информацию, сообщения, которые размещают Пользователи.</p>

<h3><p><strong>3. Конфиденциальность данных.</strong></p></h3><p>Приложение&nbsp;Lume&nbsp;хранит информацию о Вашем номере телефона, но не разглашает информацию о номерах телефонах третьим лицам.&nbsp;</p><p>Мы храним информацию о тех данных, которые Вы заполняете в анкете (логин, имя, описание профиля, фотография). Эти данные будут доступны другим Пользователям Приложения. Также мы храним информацию о созданных событиях и событиях, в которых вы приняли участие.</p><p><strong>Создавая аккаунт в Приложении&nbsp;</strong><strong>Lume</strong><strong>, Вы соглашаетесь со всеми пунктами настоящего соглашения и принимаете их.</strong></p><p>&nbsp;</p>